<%- include('../partials/header') %>
<body>
  <h1 class="list">Flight List</h1>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>AIRLINE</th>
          <th>AIRPORT</th>
          <th>FLIGHT NO.</th>
          <th>DEPARTURE DATE</th>
          <th>INFO</th>
        </tr>
      </thead>
      <tbody>
        <!-- Write the line of EJS to iterate over movies using forEach -->
        <% flights.forEach(function(flight) { %>
        <tr style="<%= flight.departs < Date.now() ? 'color: red' : '' %>">
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><a href="/flights/<%= flight._id %>">DETAILS</a></td>
        </tr>
        <!-- Close the forEach using EJS here -->
        <% }) %>
      </tbody>
    </table>
  </div>
  <%- include('../partials/footer') %>
</body>
