<%- include('../partials/header') %>
<h1>Flight Details</h1>
<container id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %> </div>
  <div>Airport: </div>
  <div><%= flight.airport %> </div>
  <div>Flight No: </div>
  <div><%= flight.flightNo %> </div>
  <div>Departure Date: </div>
  <div><%= flight.departs %> </div>
</container>
    
<container class="add-des">
    <h2 class="move-up">Add Destinations</h2>
    <form id="add-review-form" method="POST"
    action="/flights/<%= flight._id %>/destinations">
    <label
    >Airport:
    <select name="airport">
      <option <%= selectedAirports.includes('DEN') ? 'disabled' : "" %> value="DEN">DEN</option>
        <option <%= selectedAirports.includes('AUS') ? 'disabled' : "" %> value="AUS">AUS</option>
        <option <%= selectedAirports.includes('DFW') ? 'disabled' : "" %> value="DFW">DFW</option>
        <option <%= selectedAirports.includes('LAX') ? 'disabled' : "" %> value="LAX">LAX</option>
        <option <%= selectedAirports.includes('SAN') ? 'disabled' : "" %> value="SAN">SAN</option>
        </select> </label

    <label
    >Arrival Date:
    <input type="datetime-local" name="arrival" required/> </label
    ><br />
    <input type="submit" value="Add Destination">
</form>
</container>

<div class="container">
<% if (flight.destinations.length) { %> 
    <table class="arrival">
        <thead>
          <tr>
            <th>AIRPORT</th>
            <th>ARRIVAL</th>
          </tr>
        </thead>
        <tbody>
          <% flight.destinations.forEach(function(destination) { %>
            <tr>
              <td><%= destination.airport %></td>
              <td><%= destination.arrival %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Destinations Yet</h5>
    <% } %>
  </div class="container">

<a href="">Create New Ticket</a>

  <div class="container">
    <% if (tickets.length) { %> 
        <table class="arrival">
            <thead>
              <tr>
                <th>SEAT</th>
                <th>PRICE</th>
                <th>FLIGHT</th>
              </tr>
            </thead>
            <tbody>
              <% tickets.forEach(function(ticket) { %>
                <tr>
                  <td><%= ticket.seat %></td>
                  <td><%= ticket.price %></td>
                  <td><%= ticket.flight %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        <% } else { %>
          <h5>No Tickets Yet</h5>
        <% } %>
      </div class="container">